<header class="mat-elevation-z3">
    <div class="logo">
      <a href="PrincipalComponent" autofocus>
        <img src="assets/liceo.png" alt="Logo de la Universidad">
      </a>
      <div class="instituto-info">
        <div class="titulorepositorio_1">
          <p>Repositorio del Instituto Superior Tecnológico</p>
        </div>
        <div class="titulorepositorio_2">
          <p style="font-size: 1.8em;">LICEO CRISTIANO</p>
        </div>
      </div>
    </div>
  </header>
  
  <section class="pestanas-section">
    <div class="pestanas">
      <a href="PrincipalComponent">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Carreras</button>
        <div class="dropdown-content">
          <a href="subtema1">Tecnología Superior en Administración</a>
          <a href="subtema2">Tecnología Superior en Desarrollo de Software</a>
          <a href="subtema3">Asistencia Pedagógica</a>
          <a href="subtema4">Teología</a>
        </div>
      </div>
      <a href="resultados">Registros</a>
    </div>
  </section>
  
  <body style="padding-bottom: 8%;">
    <div class="header-image">
      <img src="assets/estudiante.jpg" alt="Imagen de encabezado">
    </div>
    <main>
        <h2 class="texto_detalle">Detalles del fichero</h2>
      <!-- Secciones de texto con líneas divisoras -->
      <div class="informacion-section">
        <div class="seccion-titulo">
          <p>Titulo:</p>
          <p class="contenido-seccion">SINDROME METABOLICO LA PANDEMIA DEL SIGLO</p>
        </div>
        <hr class="linea-divisora">
        
        <div class="seccion-autor">
          <p>Autor:</p>
          <p class="contenido-seccion">Cervantes Coka, Manuel Antonio<br>Cañarte Soledispa, Karina</p>
        </div>
        <hr class="linea-divisora">
        
        <div class="seccion-fecha">
          <p>Fecha de<br>publicación:</p>
          <p class="contenido-seccion">15 de enero del 2024</p>
        </div>
        <hr class="linea-divisora">
        
        <div class="seccion-resumen">
          <p>Resumen:</p>
          <p class="contenido-seccion">En 1998 la Organización Mundial de la Salud ""OMS"" presenta la primera definición de este estado que produce en la población un incremento en la morbilidad y mortalidad por patologías cardiovasculares, endocrinológicas (Diabetes Mellitus Tipo 2); por lo que se la denomina también Síndrome Multisistémico metabólico e incluso se le llamó síndrome X de Reaven debido a las múltiples formas en que afecta la actividad humana; de ahí que la misma OMS la considera en la actualidad un problema de salud pública que a temprano y largo plazo produce gastos al país y disminución de la calidad de vida de la población. Si bien inicialmente el grupo de riesgo bordeaba los 50 años actualmente ha bajado a 35 años por los motivos antes planteados y se habla de que en Estados Unidos el 25% de la población mayor de 20 años presenta Síndrome Metabólico.</p>
        </div>
        <hr class="linea-divisora">
        
        <div class="seccion-uri">
          <p>URI:</p>
          <p class="contenido-seccion">http://repositorio.unemi.edu.ec/handle/123456789/2945</p>
        </div>
        <hr class="linea-divisora">
        
        <div class="seccion-colecciones">
          <p>Aparece en <br>las <br>colecciones:</p>
          <p class="contenido-seccion">VOL. 2, NÚM. 3 (2009): SEPTIEMBRE</p>
        </div>
      </div>
  
      <!-- Cuadro final con ficheros -->
      <div class="ficheros-section">
        <p class="ficheros-titulo">Ficheros en este ítem:</p>
        <table class="ficheros-table">
          <thead>
            <tr>
              <th>Fichero</th>
              <th>Descripción</th>
              <th>Tamaño</th>
              <th>Formato</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="enlace_color"><a href="https://repositorio.unemi.edu.ec/bitstream/123456789/2945/1/SINDROME%20METABOLICO%20LA%20PANDEMIA%20DEL%20SIGLO.pdf" target="_blank">SINDROME METABOLICO LA PANDEMIA DEL SIGLO.pdf</a></td>
              <td>Texto</td>
              <td>2,09 MB</td>
              <td>Adobe PDF</td>
              <td><button class="visualizar-btn" onclick="window.open('https:\/\/repositorio.unemi.edu.ec/bitstream/123456789\/2945\/1\/SINDROME%20METABOLICO%20LA%20PANDEMIA%20DEL%20SIGLO.pdf', '_blank')">Visualizar/abrir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="footer mat-elevation-z3">
      <div class="footer-content">
        <p class="mat-body-1">Copyright<small>©</small> Instituto Superior Tecnológico Liceo Cristiano - 2024</p>
      </div>
    </footer>
  </body>