<header class="mat-elevation-z3">
  <div class="logo">
    <a routerLink="/PrincipalComponent" autofocus>
      <img src="assets/liceo.png" alt="Logo de la Universidad">
    </a>
    <div class="instituto-info">
      <div class="titulorepositorio_1">
        <p>Biblioteca Digital del Instituto Superior Tecnológico</p>
      </div>
      <div class="titulorepositorio_2">
        <p style="font-size: 1.8em;">LICEO CRISTIANO</p>
      </div>
    </div>
  </div>
</header>
<section class="pestanas-section">
  <div class="pestanas">
    <a routerLink="/PrincipalComponent">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Carreras</button>
      <div class="dropdown-content">
        <a routerLink="/subtema1">Tecnología Superior en Administración</a>
        <a routerLink="/subtema2">Tecnología Superior en Desarrollo de Software</a>
        <a routerLink="/subtema3">Asistencia Pedagógica</a>
        <a routerLink="/subtema4">Teología</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Bases de datos</button>
      <div class="dropdown-content">
        <a href="https://scielo.org/es/">Scielo</a>
        <a href="https://www.ebsco.com/es">EBSCO</a>
        <a href="https://dialnet.unirioja.es/">Dialnet</a>
        <a href="https://www.redalyc.org/">Redalyc</a>
      </div>
    </div>
    <a routerLink="/resultados">Registros</a>
  </div>
</section>
  <body>
    <div class="header-image">
      <img src="assets/estudiante.jpg" alt="Imagen de encabezado">
    </div>
    
    <main>
      <mat-card class="subtema-card">
        <mat-card-header>
          <mat-card-title class="textosuperior_">Tecnología Superior en Desarrollo de Software</mat-card-title>
          <div mat-card-avatar class="logo-avatar">
            <img src="assets/liceo.png" alt="Logo del instituto">
          </div>
        </mat-card-header>
      </mat-card>

      <mat-card class="subtema-card">
        <a routerLink="/publicacionesencontradas" class="ver-todas-link">Ver todas las publicaciones</a>
      </mat-card>
    
      <div class="search-section">
        <h2>Publicaciones recientes</h2>
        <table class="search-table">
          <thead>
            <tr>
              <th>Autor</th>
              <th>Título</th>
              <th>Fecha de lanzamiento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <!-- <a routerLink="/informaciondocumento">Cervantes Coka, Manuel Antonio</a> -
                <a routerLink="/informaciondocumento">Cañarte Soledispa, Karina</a> -->
                <a routerLink="/informaciondocumento">Gómez Villamar Ana Estefanía</a>
              </td>
              <td><a routerLink="/informaciondocumento">Desarrollo e Implementación de un Módulo Virtual para la Biblioteca Institucional del ISTLC</a>
              </td>
              <td>10 de marzo del 2024</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  
    <footer class="footer mat-elevation-z3">
      <div class="footer-content">
        <p class="mat-body-1">Copyright<small>©</small> Instituto Superior Tecnológico Liceo Cristiano - 2024</p>
      </div>
    </footer>
  </body>